{% extends 'base.html.twig' %}

{% block title %}GanttData index{% endblock %}

{% block body %}
    <h1>GanttData index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>GanttArr</th>
                <th>GanttJson</th>
                <th>GanttObj</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gantt_datum in gantt_datas %}
            <tr>
                <td>{{ gantt_datum.id }}</td>
                <td>{{ gantt_datum.ganttArr ? gantt_datum.ganttArr|join(', ') : '' }}</td>
                <td>{{ gantt_datum.ganttJson ? gantt_datum.ganttJson|json_encode : '' }}</td>
                <td>{{ gantt_datum.ganttObj }}</td>
                <td>
                    <a href="{{ path('gantt_data_show', {'id': gantt_datum.id}) }}">show</a>
                    <a href="{{ path('gantt_data_edit', {'id': gantt_datum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gantt_data_new') }}">Create new</a>
{% endblock %}
